.button {
    display: block;
    background-color: #ED9B40!important;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  

  .mainButton {
    background-color: #ED9B40;
    color: white;
    box-shadow: 2px 2px 2px black;
  }
  
  .mainButton:hover {
    background-color: #C7802F;
    color: white;
    box-shadow: 3px 3px black;

  }

  .light-mode {
    background-color: #FFEEDB;
  }

footer {
    background-color: #f8dcbc ;
    color: black;
    position: absolute; 
    bottom: 0px; 
    width:100%;
  }


.nametag {
  font-size: 12px;
  background: #f5ece2;
  margin-top: 100px!important;
  box-shadow: 2px 2px 2px 2px;
}

.nametag:hover {
  background-color: #dac6b1;
  cursor: pointer;
}

.nametag-big {
  position: absolute;
  padding: 10px;
  top: 200px;
  z-index: 2;
  max-width: 500px;
  max-height: 400px;
  background-color: #f5ece2;
  box-shadow: 2px 2px 2px;

}

.nametag-big:hover {
  background-color: #dac6b1;
  cursor: pointer;
}

.shadow-box {
  width: 100%;
  position: absolute;
  height: 60em;
  padding-top: 0;
  background-color: rgb(100, 92, 92);
  opacity: 0.78;
  z-index: 1;
}

#about-card {
  position: absolute;
  top: 200px;
  z-index: 1;
  background-color: white;
  width: 100px;
}