{% extends 'base.html' %}
{% block title %}
<title>Hangman Games</title>
<link rel="stylesheet" href="/static/mainMenu.css">
{% endblock %}
{% block body %}
<h1 class="text-center text-light">Hangman Game</h1>
<div class="image-hangman border container mt-4">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <img src="/static/assets/picture_title.png" alt="Image_hangman" class="img-fluid">


        </div>
        <div class="col">


        </div>

    </div>

</div>
<div class="container border p-3">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <div class="container">
                <div class="d-grid gap-2">
                    <a class="btn btn-warning" href="/game">Start Game</a>
                    <a class="btn btn-warning" href="/about">About Game</a>

                </div>


            </div>


        </div>
        <div class="col">

        </div>

    </div>






</div>

{% endblock %}